@import "elements.less";
@import "mixins.less";

body {
  padding-top: 50px;
  //height: 100%;
}

#badgeBar {
  text-align:center;
  background-color:#eee;
  ul {
    margin-top:10px;
  }
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Main header message */
.jumbotron {
  color:#fff;
  .bg_gradient (#020031,#6d3353);
  .rounded(0);
}
#sc-jumbotron-main {
  margin: 0;
  //padding: 10px 0px 20px 0px;
  text-align: center;
}
