  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/font-awesome.css" type="text/css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/font-awesome-ie7.min.css" type="text/css">
    <![endif]-->
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/syntax.css" type="text/css">
    <!--[if lt IE 9]>
      <script src="{{site.baseurl}}/javascripts/html5shiv.min.js"></script>
    <![endif]-->
    
    <meta name="author" content="Sebastian Staudt">
    
    {% if page.title == "Index" %}
      <title>Steam Condenser</title>
    {% else %}
      <title>Steam Condenser - {{ page.title }}</title>
    {% endif %}
    
    <script src="{{site.baseurl}}/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="{{site.baseurl}}/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{site.baseurl}}/javascripts/steam_condenser.min.js" type="text/javascript"></script>

    {% include google_analytics %}

    <link href="https://plus.google.com/109400543549250623875" rel="publisher">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/steam-condenser-0032.png">
