---
pages:
 - name: Usage
   url:  usage
 - name: Installation
   url:  install
 - name: Contribute
   url:  contribute
 - name: License
   url:  license
---
<!DOCTYPE html>

<html lang="en">
<head>{% include head.html %}</head>
<body>
  {% include navbar.html %}
  {% include jumbotron-mini.html %}
  
  <div class="container">
    {{ content }}
    {% include donate %}
  </div>
  
  <div id="push"></div>
  {% include footer.html %}
</body>
</html>
<!-- This page has been last updated on {{ site.time | date: "%m/%d/%Y" }} -->
