<!DOCTYPE html>

<html lang="en">
<head>{% include head.html %}</head>
<body>
  
  {% include navbar.html %}
    
  <!-- Jumbotron -->
  <div id="sc-jumbotron-main" class="jumbotron">
    <h1>Steam Condenser</h1>
    <p class="lead">
      A multi-language library for querying the Steam Community, Source and GoldSrc game servers.
      <br>
      For Java, PHP and Ruby.
    </p>
    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
        Download
        <i class="icon-caret-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="">Java</a></li>
        <li><a href="">PHP</a></li>
        <li><a href="">Ruby</a></li>
      </ul>
    </div>
  </div>
  
  {% include badgebar.html %}
  
  <div class="container">
    {{ content }}
  </div>
  <div id="push"></div>
  </div>

{% include footer.html %}
</body>
</html>

<!-- This page has been last updated on {{ site.time | date: "%m/%d/%Y" }} -->
